body {
    background-color: #0b1a22;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    color: white;
    padding: 50px 30px 30px;
    margin: 15px;
    border-radius: 10px;
}

.header .header-title {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.header .header-message {
    margin: 10px, 0, 0;
    padding: 0;
    font-size: 12px;
    color: lightgrey;
}

.meta-info {
  position: fixed;
  height: 300px;
  width: 300px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
}
  /* user **/
  .users {
      padding: 30px 30px 30px;
      width: 100%;
      display: inline-block;
  }

  .users .item {
    height: 100px;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    padding: 1.3em;
    line-height: 100px;
    overflow: auto;
    margin-bottom: 20px;
  }

  .users .item img {
    height: 100%;
    border-radius: 6px;
    float: left;
  }

  .users .item p {
      float: left;
      height: 100%;
      margin: 0 0 0 20px !important;
      padding: 0;
      color: #0b1a22;;
  }




/* Loader stuff */
body .loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
/** loader  **/
.loader {
    font-size: 10px;
    margin: auto auto;
    text-indent: -9999em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #0094e1;
    background: -moz-linear-gradient(left, #0094e1 10%, rgba(0,148,225, 0) 42%);
    background: -webkit-linear-gradient(left, #0094e1 10%, rgba(0,148,225, 0) 42%);
    background: -o-linear-gradient(left, #0094e1 10%, rgba(0,148,225, 0) 42%);
    background: -ms-linear-gradient(left, #0094e1 10%, rgba(0,148,225, 0) 42%);
    background: linear-gradient(to right, #0094e1 10%, rgba(0,148,225, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #0094e1;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #0b1a22;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
